<!DOCTYPE html>
<html>

<head>
    <title>User Page - {{username}}</title>
    <a href="http://localhost:5000">
        <button>Log Out</button>
    </a>     
</head>
<style>
.book-box {
    order: 2;
    border: 2px solid #000;
    padding: 20px;
    border-radius: 5px;
    background-color: #f8f8f8;
    max-width: 100%;
    margin-left: 20px;
    max-height: 80vh;
    overflow-y: auto;
    -webkit-box-shadow: -2px 2px 80px -10px #0B0B3B;
    -moz-box-shadow: -2px 2px 80px -10px #0B0B3B;
    box-shadow: -2px 2px 80px -10px #000;
}
</style>
<body bgcolor="CCCCCC">
    <h1>Welcome, {{username}}!</h1>
    <h2>Borrowed Books</h2>
    <table border=1 frame=void rules=rows>
        <thead>
            <tr>
                <th>ID</th>
                <th>Book</th>
                <th>Amount</th>
                <th>When</th>
            </tr>
        </thead>
        <tbody>
            {% for row in output_data2 %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>
                <td>{{ days_remaining[row[0]] }} days remaining</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
<body>
    <h2>Borrow Books</h2>
    <form action="/user_page/{{username}}" method="POST">
        <input value="Borrow Selected" type="submit" name="Borrow" />
        <div class="book-box">
            <table>
                <thead>
                    <tr>
                        <th>Select</th>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in output_data %}
                    <tr>
                        <td><input type="checkbox" name="Title" value="{{ row[1] }}" /></td>
                        <td>{{row[0]}}</td>
                        <td>{{row[1]}}</td>
                        <td>£{{row[2]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
</body>
</html>